body, html {
    background: #000000;
    color: #E1E5EA;
    font: ZillaSlab-Light;
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

a {
    color: #0A9AF4;
    text-decoration: none;
}
